@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: rgb(36, 36, 36);
}

h1 {
    font-family: 'Lato', sans-serif;
    color: white;
}

h1.known-words {
    flex: 1 0 100%;
    text-align: center;
}

.sentiment-analysis-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: 'Lato', sans-serif;
}

.word-list {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.red {
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 80, 80);
    border-radius: 5px;
}

.orange {
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 173, 34);
    border-radius: 5px;
}


.green {
    margin: 20px;
    padding: 10px;
    background-color: rgb(18, 200, 25);
    border-radius: 5px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.form {
  flex: 0 1 25%;
  display: table;
  margin: 40px 40px;
  padding: 20px 50px;
  border: 1px solid #35dc9b;
  border-radius: 10px;
}
.form label {
  position: relative;
  display: block;
}
.form label .input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  border-radius: 2px;
  padding: 20px;
  min-width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.form label .input::-webkit-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.form label .input:-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.form label .input::-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.form label .input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.form label .input:focus, form label .input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
.form label .input:focus::-webkit-input-placeholder, form label .input.populated::-webkit-input-placeholder {
  color: transparent;
}
.form label .input:focus:-ms-input-placeholder, form label .input.populated:-ms-input-placeholder {
  color: transparent;
}
.form label .input:focus::-ms-input-placeholder, form label .input.populated::-ms-input-placeholder {
  color: transparent;
}
.form label .input:focus::placeholder, form label .input.populated::placeholder {
  color: transparent;
}
.form label .input:focus + span, form label .input.populated + span {
  opacity: 1;
  top: 10px;
}
.form label span {
  color: #35dc9b;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.submit, .analyze {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 2px;
  background: rgb(0, 193, 89);
  color: #fff;
  padding: 16px 40px;
}
.submit:hover, .analyze:hover {
  color: rgb(0, 193, 89);
  background: #fff;
}

.result {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px 0;
    border-top: 1px solid white;
    padding: 20px;
}

.result span {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: rgb(0, 193, 89);
}

.result span b {
    color: white;
}
